.img-fundo {
    position: relative;
}

.cartao-verso {
    position: absolute;
    top: 30px;
    left: 60px;
    width: 300px;
}

.cartao-frente {
    position: absolute;
    top: 122px;
    left: 15px;
    width: 300px;
}

.circulo-grande {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 135px;
    left: 35px;
    background: var(--branco);
    border-radius: 50%;
}

.circulo-pequeno {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 145px;
    left: 75px;
    background-color: transparent;
    border: 1px solid var(--branco);
    border-radius: 50%;
}

.cartao-numero {
    position: absolute;
    top: 205px;
    left: 35px;
    color: var(--branco);
}

.cartao-nome {
    position: absolute;
    top: 250px;
    left: 35px;
    color: var(--branco);
    font-size: 12px;
    text-transform: uppercase;
}

.cartao-validade {
    position: absolute;
    top: 250px;
    right: 80px;
    color: var(--branco);
    font-size: 12px;
}

.cartao-cvv {
    position: absolute;
    top: 105px;
    right: 55px;
    color: var(--branco);
    font-size: 12px;
}

@media screen and (min-width: 1440px) {
    .cartao-verso {
        top: 450px;
        left: 285px;
        width: 380px;
    }

    .cartao-frente {
        top: 210px;
        left: 200px;
        width: 380px;
    }

    .circulo-grande {
        width: 42px;
        height: 42px;
        top: 235px;
        left: 230px;
    }
    
    .circulo-pequeno {
        width: 16px;
        height: 16px;
        top: 250px;
        left: 285px;
    }
    
    .cartao-numero {
        top: 320px;
        left: 230px;
        font-size: 22px;
    }
    
    .cartao-nome {
        top: 375px;
        left: 232px;
        font-size: 14px;
    }

    .cartao-validade {
        top: 375px;
        left: 505px;
        font-size: 14px;
    }
    
    .cartao-cvv {
        top: 545px;
        left: 585px;
        font-size: 14px;
    }
}