.formulario {
    margin: 4em 1.3em;
}

.formulario-campo {
    margin-bottom: 1em;
    width: 80vw;
}

.campo-titulo {
    font-size: 13px;
    text-transform: uppercase;
}

.campo-escrita {
    font-family: var(--fonte);
    border: 1px solid var(--cinza-borda);
    border-radius: 8px;
    width: 100%;
    padding: .8em;
    margin-top: .8em;
}

.formulario-campo-linha {
    display: flex;
}

.campo-escrita-mes {
    width: 11vw;
    margin-right: .2em;
}

.campo-escrita-ano {
    width: 11vw;
}

.campo-escrita-cvv {
    width: 38vw;
}

.mensagem-erro {
    color: var(--vermelho-erro);
    font-size: 12px;
}

.formulario-botao {
    background: var(--violeta-escuro);
    margin: .3em auto;
    display: block;
    border: none;
    padding: 1em;
    width: 100%;
    border-radius: 8px;
    font-family: var(--fonte);
    color: var(--branco);
    font-size: 16px;
}

@media screen and (min-width: 1440px) {
    .formulario {
        width: 25vw;
    }

    .formulario-campo {
        width: 50%;
    }

    .campo-escrita {
        width: 23.4vw;
    }

    .campo-escrita-mes, .campo-escrita-ano {
        width: 4vw;
    }

    .campo-escrita-cvv {
        width: 11vw;
    }

    .formulario-botao {
        margin-top: 1em;
    }
}