.formulario {
    margin: 4em 1.3em;
}

.formulario-dados {

}

.formulario-campo {
    margin-bottom: 1em;
    width: 80vw;
}

.formulario-campo-validade {
    
}

.formulario-campo-cvv {
    
}

.campo-titulo {
    font-size: 13px;
    text-transform: uppercase;
}

.campo-titulo-validade {
    
}

.campo-titulo-cvv {

}

.campo-escrita {
    font-family: var(--fonte);
    border: 1px solid var(--cinza-borda);
    border-radius: 8px;
    width: 100%;
    padding: 1em;
    margin-top: .8em;
}

.formulario-campo-linha {
    display: flex;
}

.formulario-campo-linha-data {
    
}

.campo-escrita-mes {
    width: 11vw;
    margin-right: .2em;
}

.campo-escrita-ano {
    width: 11vw;
}

.campo-escrita-cvv {
    width: 38vw;
}