@import url(./cartao.css);
@import url(./formulario.css);

:root {
    --branco: #FFFFFF;
    --cinza-borda: hsl(270, 3%, 87%); /*style guide*/
    --fonte: 'Space Grotesk', sans-serif; /*style guide*/
}

body {
    font-size: 18px;
    font-family: var(--fonte);
    font-weight: 500;
}