@import url(./cartao.css);
@import url(./formulario.css);

:root {
    --branco: #FFFFFF;
    --cinza-borda: hsl(270, 3%, 87%) /*style guide*/
}

body {
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}